body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  color: darkslategrey;
  background-color: #ccc;
  font-size: 30px;
  font-weight: bold;
}
